.contactbar-container {
  background-color: var(--box-bg-color);
  border-radius: var(--box-radius);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transition: box-shadow 0.3s ease-in-out;
  color: var(--text-color-main);
  font-family: 'Helvetica Neue', sans-serif;
  width: 35%;
  height: 100%;
  padding: 1%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0px;
  overflow: hidden;
}

.contactbar-container:hover {
  box-shadow: 0 6px 12px var(--box-shadow-hover-color);
}

.headshot-name-icons-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}


.name-phd-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-size: 1vw;
}

.headshot {
  border-radius: 50%;
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
}

.name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.contact-icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
  gap: 5%; /* Adjust gap as necessary */
  justify-items: center;
}

.contact-icon {
  font-size: 100%; /* Adjust icon size as needed */
  color: #333; /* Icon color */
  display: flex;
  justify-content: center; /* Center icon */
  align-items: center; /* Center icon */
}

.contact-icon-overlay {
  position: relative; /* For overlaying text on icon */
}

.contact-icon-text {
  position: absolute; /* Position text over the icon */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact center */
  font-size: 30%; /* Adjust text size as needed */
  color: rgb(0, 0, 0); /* Choose color that stands out on the icon */
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding:1px;
  border-radius: 20%;
}

/* Adjust the .contact-icon a styling if necessary */
.contact-icon a {
  color: inherit; /* Inherits color from parent */
  text-decoration: none;
}

/* Add hover effects or other styles for individual icons if needed */
/* .linkedin-icon:hover,
.email-icon:hover,
.github-icon:hover,
.cv-icon:hover {
  /* hover styles */
/* } */

@media (max-width: 768px) {
  .name-phd-location-container {
    font-size: 1vw; /* Adjust based on current size */
  }

  .contact-icon {
    font-size: 1.2rem; /* Smaller icons for smaller screens */
  }

  .contact-icon-text{
    font-size: 0.3rem;
  }

  .phd-info,
  .location-info {
    font-size: calc(0.6 * 0.9rem); /* Example for specific elements */
  }

  .name-phd-location-container {
    display: none;
  }
}

@media (max-width: 480px) {
  .name-phd-location-container {
    font-size: calc(0.5 * 1rem); /* Adjust based on current size */
  }

  .name-phd-location-container {
    display: none;
  }
}