.icon-grid {
  display: grid;
  --icon-size: 100px;
  --max-columns: 11;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-size), 1fr));
  max-width: calc(var(--icon-size) * var(--max-columns));
  grid-gap: 1rem;
  margin: auto; 
  justify-content: center;
  padding-top: 15px;
}


@media (max-width: 600px) {
  .icon-grid {
    --icon-size: 80px;
  }
}
