.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* Brighter background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #e1e1e1; /* Soft outline */
  border-radius: var(--box-radius);
  margin: 20px;
  font-family: 'Helvetica Neue', sans-serif; /* Modern font */
  height: 812px;
  width: 15vw;
}

.headshot {
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #e1e1e1; /* Image outline */
}

.contact-link {
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 300; /* Font weight for clean look */
}

.contact-link:hover {
  color: #555; /* Hover effect */
  text-decoration: underline;
}

/* Placeholder for icons */
.icon-placeholder {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-right: 10px; /* Space before the text */
  display: inline-block; /* To align with text */
}

/* Content hierarchy */
.phd-info {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.cv-link {
  display: block; /* Make it a block to occupy its own line */
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0; /* Add more vertical space */
  text-align: center; /* Center the text within the div */
}

.cv-link a {
  color: #ffffff; /* Change text color to white */
  background-color: #0066cc; /* Use a solid color for the background */
  padding: 10px 15px; /* Add padding to increase the clickable area */
  border-radius: var(--box-radius); /* Use the same border-radius as in the root for consistency */
  text-decoration: none; /* Remove the underline from the link */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  display: inline-block; /* Needed to apply padding and centering */
}

.cv-link a:hover, .cv-link a:focus {
  background-color: #0056b3; /* Darker blue on hover for interaction feedback */
  outline: none; /* Remove the outline on focus to maintain the styling */
  text-decoration: none; /* Ensure no underline appears on hover */
}

/* Since .phd-info is used for text, it should not be used for the CV link */
/* Update the class name for the location info to something more appropriate, such as .location-info */
.location-info {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--text-color-secondary); /* Less emphasis compared to the CV button */
}


/* Additional styles for the container */
.sidebar-container::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #e1e1e1;
  width: 80%; /* Line separator */
  margin: 20px auto;
}
